.article-info__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.4rem;
  color: var(--black-op60);
  padding-top: 10px;
  order: 4;
}

.article-info__source,
.article-info__date {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.article-info__source {
  margin-right: 20px;
}

.article-info__source-icon,
.article-info__date-icon {
  fill: var(--black-op60);
  margin-right: 4px;
}
